* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.page {
  display: flex;
}
main {
  width: 100%;
}
.sidebar {
  background: #fff;
  color: #000;
  height: 550px;
  width: 300px;
  transition: all 0.5s;
  position: fixed;
  z-index: 5;
  margin: 20px;
  margin-top: 40px;
  border-radius: 15px;
  padding-left: 10px;
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
}
.link {
  display: flex;
  color: #000;
  background: #f6f3f3;
  border-radius: 10px;
  padding: 10px 15px 10px 20px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  gap: 15px;
  transition: all 0.5s;
  width: 250px;
  text-decoration: none;
}
.link:hover {
  background: #000;
  color: #ffff;
  transition: all 0.5s;
}
.active {
  background: black;
  color: #ffff;
}
.icon,
.link_text {
  font-size: 20px;
  text-decoration: none;
}

.line {
  border: 1 solid;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
}
.btn {
  width: 250px;
  margin-left: 10px;
  height: 50px;
  color: #fff;
  border-radius: 25px;
  margin-top: 150px;
}
